/*font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;*/
body {
  padding: 0;

  font-family: "Cuprum", PT Sans, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.container{
  padding: 0 10px;
  width: 940px;
  outline: 1px dashed;
  /*для видимости*/
  margin: 0 auto;
}
.visually-hidden{
  display: none;
}
.header-panel-logo{
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background: #293449;
  margin: 0;
  clear:both;
}
.header-panel{
  background: #293449;
}
.header-panel .container{
  display: flex;
}
.header-logo:hover{
  background: #ca2c37;
}
.header-logo:active{
  background: #ba2732;
}
.header-logo {
  width: 220px;
  padding: 11px 0 7px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  background-color: #ee3643;
  border-radius: 0;
  box-shadow: 0 5px #b52933;
  text-transform: uppercase;
  text-align: center;
}
.header-search{
  position: relative;
  padding: 0;
  width: 270px;
  border: none;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  background-color: #293449;
  outline: none;
}
.header-search:before { content: url(../img/icon-search.svg);
} 
.bar-left{
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  float: left;
  width: 148px;
  padding: 12px 2px 12px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.header-main{
  background: #f3f7f9;
  height: 320px;
}
.order{
  width: 150px;
  color: #ffffff;
  background: #63a63e;
}
.bookmark:hover{
background: #212a3a;
}
.bookmark:active{
  background: #161d29;
}
.cart:hover{
background: #212a3a;
}
.cart:active{
  background: #161d29;
}
.order:hover{
background: #5fbb2d;
}
.order:active{
  background: #518534;
}
.header-panel-info{
  display: inline-flex;
}
.top-info{
  margin: 0;
  padding:54px 0px 46px 52px ;
  font-style: italic;
  width: 200px;
  height: 68px
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}
.our-contacts{
  width:270px ;
  margin: 0;
  padding:45px 63px ;
}
.our-telephone{
  padding: 10px 25px;
  margin: 0;
  height: auto;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  color: #ee3643;
  border: 1px solid #ffffff;
}
.our-address{
  padding: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-contacts{
  padding: 45px 0px 0 ;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: 400;
  float: right;
  width: 300px;
  height: 45px;
}
.user-contacts a{
  color: #000000;
  text-decoration: none;
}
.ravshan{
  height: 70px;
  width: 300px;
  display:inline-flex;
  flex-direction: column;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}
.user-btn{
  margin: 0 10px;
  padding: 10px 10px;
  background: #fff;
  border: 1px solid #ffffff;
}
.user-btn:hover:before,.user-btn:hover:after{

}

.user-btn:active:before,.user-btn:active:after{

}
.user-btn:before{
  content: url(../img/icon-user.svg);
}
.user-btn:after {
  content: url(../img/icon-logout.svg)
}
.user-option{
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}
.user-option a:hover{
  color: #ee3643;
}
.user-option a:active{
  color: #b2b2b2;
}
.user-login:before{
  content: url(../img/icon-login.svg);
  position: relative;
  top: 3px;
  right: 10px;
}
.user-login{
  text-align: center;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ffffff;
  margin-left: 10px ;
}
.user-login:hover{
color: #ee3643;
}
.user-login:actice{
  color: #000000;
}
.user-registration:hover{
  color: #ee3643;
}
.user-registration:active{
  color: #000000;
}
.user-registration{
  height:21px;
  text-align: center;
  padding: 10px 25px;
  background: #fff;
  border: 1px solid #ffffff;
}
.main-panel{
}
.main-block{
  background: #32425c;
  height: 60px;
  width: 940px;
  border-bottom: 5px solid #293449;
  display: inline-flex;
  padding: 0;
  justify-content: center;
}
.main-item{
  list-style: none;
}

.main-link{
  display: block;
  padding: 20px 30px 18px 30px;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  background-color: #32425c;
  border-radius: 0;
}
.main-item:hover{
  background: #293449;
}
.main-link:hover{
  background: #293449;
}
.main-item:active{
  background: #1d2739;
}
.main-link:active{
  background: #1d2739;
}
.catalog-li{
	list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.catalog-header span{
  vertical-align: middle;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
}


.container-catalog{
  padding: 0 10px;
  width: 940px;
  outline: 1px dashed;
  /*для видимости*/
  margin: 0 auto;
}
.ur-orders{
  padding: 0 15px 0 15px;
}

/*  */
/*  */

.breadcrumbs{
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}
.breadcrumbs-item{
  padding: 20px 10px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  text-decoration: none;
}
.arrow:before {
  content:url(../img/icon-right-small.svg);
  display: inline-block;
  width: 15px;
  padding: 0;
  margin-left: 0px;
  margin-right: 15px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #c1c6ce;
}
.breadcrumbs a:first-child{
  content: url(../img/icon-home.svg);
}
.type-tools{
  font-size: 24px;
  line-height: 30px;
}
.offer{
  font-size: 14px;
  line-height: 18px; 
}
.page-title{
  margin: 0;
  display: block;
  padding: 26px 25px 25px 25px;
  background-color: #f2f6f8;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}
/*ITEMS FILTER*/
.filter-shop-flex{
  display: inline-flex;
  padding: 0;
}
.filter-title{
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-header-title{
  margin-top: 21px;
  font-size: 13px;
  line-height: 18px; 
  padding: 15px 20px;
  font-weight: 400;
  background: #f7f3ec;
  text-transform: uppercase;
}
.filter-header-sort{
  padding-right: 140px;
  color: #000000;
  text-decoration: none;
}
.catalog-filter{
  padding-top: 0;
  width: 220px;
  
}
.sort-direction{
  margin-top: 21px;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 18px; 
  background: #f7f3ec;
  text-decoration: none;
  text-transform: uppercase;
}
.sort-item-1{
  padding-right:70px; 
}
.sort-item-2{
  padding-right:65px; 
}
.sort-item-3{
  padding-right:45px; 
}
.catalog{
  padding-left: 20px;
  width: 700px;
}
.icon-up-direction:before{
  
  content:url(../img/icon-up-dir.svg);
}
.icon-down-direction:before{
  
  content:url(../img/icon-down-dir.svg);
}
/*ТОВАРЫ*/
.catalog-item-action{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

}
.catalog-item-price{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
.catalog-category{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.catalog-list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  
  width: 700px;
}
.catalog-item{
  list-style: none;
  padding: 0;
  font-weight: 700;
  width: 218px;
  height: 316px;
  margin: 0px 20px 20px 0;
  vertical-align: top;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.catalog-item:nth-child(3n){
  margin-right: 0;
} 
.catalog-category{
  margin: 0;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 160px;
  padding: 0 30px;

}
.button-true{
  height: 20px; 
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999999;
  text-decoration: line-through;
}
.button-price-now{
  position: relative;
  width: 80px;
  top: 20px;
  padding: 10px 30px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;

}
.button-price-now:after{

  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0px;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.visually-hidden-price{

  height: 17px;
  padding: 17px 0;
}
.filter-title{
  font-size: 17px;
  line-height: 30px;
}
.catalog-item:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.catalog-item:hover .catalog-item-action{
  z-index: 2;
  display: block;
  position:relative;
  text-align: center;
  margin-top: -250px;
  height: 88px;
  padding: 20px 40px;
  background-color: #ffffff;
  color: #ffffff;
}
.catalog-item-action{
  display: none;
  text-align: center;
 }
.catalog-item:hover .action-buy,
.catalog-item:hover .action-bookmarks{
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 0 -3px 0 #367315;
  padding: 15px 30px;
  margin-left: 7px;
  margin-bottom: 7px;
  background-color: #63a63e;
  border-radius: 3px;
}
.catalog-item:hover .action-bookmarks{
  background: #ffffff;
  color: #4d5b72;
  border: 3px solid #63a63e;
  box-shadow:none;
  padding: 12px 27px;
}
.catalog-item:hover .action-buy:hover{
  background: #5fbb2d;
}
.catalog-item:hover .action-buy:active{
  background: #518534;
}
.catalog-item:hover .action-bookmarks:hover{
  border: 3px solid #32425c;
}
.catalog-item:hover .action-bookmarks:active{
  border: 3px solid #c1c6ce;
}
/*FOOTER*/

.company-promo h2,.our-contacts-footer h2{
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.container-footer{
  background: #fff;
  display: flex;
}
.company-promo{
  position: relative;
  width: 540px
  padding: 0 -10px;
}
.promo-info{
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}
.promo-list{
  margin-left: -40px;
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.delivery{
  position: relative;
  margin: 0;
  padding: 0 0 25px 35px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  list-style: none;
}
.delivery:before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #fb565a;
}
.contacts-map img{
  padding-top: 10px;
}
.btn{
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  color: #ffffff;
  background: #ee3643;
  }
.our-contacts-footer{

  }
.contacts-info{
  font-size: 13px;
  line-height: 24px;
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  width: 180px;
}
.btn-about{
  padding: 12px 40px; 
}
.btn-where{
  position: relative;
  padding: 12px 60px;
  top: 45px;
}
.footer-menu{
  margin-top: 70px;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}
.footer-top-panel{
  display: flex;
}
.footer-logo{
  position: relative;
  display: block;
  border-radius: 0px;
  height: 0px;
}
.footer-panel-contacts{
display: inline-flex;
justify-content: space-around;
width: 550px;
margin: 0px;
padding: 35px 0 0 140px;

}
.footer-panel-contacts li{
text-decoration: none;
color: #ffffff;

}
.footer-middle-panel{
  display: flex;
  padding-bottom: 30px;
}
.footer-panel-address{
  position: relative;
  display: block;
  border-radius: 0px;
  height: 0px;
}
.footer-panel-offer {
  display: inline-flex;
  justify-content: space-around;
  width: 510px;
  margin: 0px;
  padding: 35px 0 0 140px;
}
.footer-li:hover{
  text-decoration: underline;
}
.fo-li:active{
color: #929caa;
}
.fo-a-second:active{
color: #998a6e;
}
.fo-li{
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
.fo-a-second{
  display: block;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffd180;
}
.footer-panel-address{
  padding-top: 17px;
  height: 40px;
  width: 360px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
}
.bottom-container{
  padding: 0 10px;
  width: 940px;
  outline: 1px dashed;
  margin: 0 auto;
  display: flex;
  color: #ffffff;
}
.footer-bottom-panel{
  background: #293449;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
}
.footer-bottom-copyright{
  padding: 20px 0 20px 0;

}
.footer-social{
  width: 140px;
  padding: 40px 0 20px 112px;

}
.feedback-html{
  padding: 20px 0 20px 115px;
}
.feedback-html-link{
  color: #f1c77c;
}
.feedback-html-link:hover{
text-decoration: underline;
}
.feedback-html-link:active{
  color: #c73644;
}
/**/
.footer-social-fb:before {
  content: url(../img/icon-fb.svg);
  justify-content: center;
}
.footer-social-vk:before {
  content: url(../img/icon-vk.svg);
}
.footer-social-inst:before {
  content: url(../img/icon-insta.svg);
}
.social-link{
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background: #212a3a;
  border-radius: 50%;
}
.social-link:before{
  display: block;
  margin-top: 10px;
  
}
.footer-social-vk:before{
  display: block;
  padding-top: 2px;
}
.footer-social-vk:hover{
  background: #ee3643;
}
.footer-social-fb:hover{
  background: #ee3643;
}
.footer-social-inst:hover{
  background: #ee3643;
}
.footer-social-vk:active{
  background: #ee3643;
}
.footer-social-fb:active{
  background: #ee3643;
}
.footer-social-inst:active{
  background: #ee3643;
}
.modal-write-us{
  
}
.modal-map{

   
}
.close-btn{

}
.modal{
    display: none;
  }
/*CATALOG*/

